/* Your styles here */

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
}

.header-img {
  display: block;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.box-1 {
  background-color: #000000;
  font-size: 16px;
  padding: 30px;
  align-content: justify;
}

p {
  color: #373737;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
}

h1 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

button {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
  border-radius: 4%;
  border-style: none;
}

.box-3 {
  background-color: #f04c2f;
}

.box-3 p {
  color: #ffffff;
  font-weight: 400;
}

span {
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
}

p.ceo {
  font-size: 18px;
}

h2 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

h4 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

section h4 {
  padding-top: 5px;
}

.first-titles {
  padding-top: 35px;
}

.second-titles {
  padding-top: 35px;
  padding-bottom: 35px;
}

p:first-of-type {
  padding-bottom: 30px;
}

article img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.section-img1,
.section-img2,
.section-img3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-bottom: 20px;
  padding-top: 50px;
}

.section-img1 {
  padding-top: 50px;
}

footer {
  background-color: #25a2c3;
}

footer p {
  color: #c8e7f0;
}

footer a {
  color: #c8e7f0;
}

hr {
  width: 40%;
}
