/* Your styles here */

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
}

.header-img {
  display: block;
  background-color: black;
  width: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.box-1 {
  background-color: #000000;
  font-size: 16px;
}

p {
  color: #373737;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

button {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 4%;
  border-style: none;
}

.box-3 {
  background-color: #f04c2f;
  margin-bottom: 30px;
}

.box-3 p {
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 30px;
}

span {
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
}

p.ceo {
  font-size: 20px;
  padding-bottom: 4px;
}

p.ceo2 {
  font-size: 12px;
  padding-top: none;
  line-height: 0.3;
}

h2 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

h4 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

section {
  padding-bottom: 50px;
}

section h4 {
  padding-top: 5px;
}

article img {
  border-radius: 50%;
  width: 30%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.first-titles {
  display: inline-block;
  padding-top: 35px;
}

.section-img1,
.section-img2,
.section-img3 {
  display: block;
  width: 100%;
  padding-bottom: 20px;
}

.tuopc {
  border: 1px solid #dee1e3;
  margin-bottom: 40px;
}

.tuopc-second {
  border: 1px solid #dee1e3;
  margin-bottom: 40px;
}

.tuopc-third {
  border: 1px solid #dee1e3;
  margin-bottom: 40px;
}

footer {
  background-color: #25a2c3;
}

footer p {
  color: #c8e7f0;
}

footer a {
  color: #c8e7f0;
}

p i {
  color: white;
}

hr {
  width: 40%;
}
